<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/@Model.img" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.name</h5>
    <p class="card-text"> Adress : @Model.address</p>
    <a href="/student/index" class="btn btn-primary">Go back </a>
  </div>
</div>