<h3>Students Data</h3>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">address</th>
            <th scope="col">img</th>
            <th scope="col">details</th>
        </tr>
    </thead>
    <tbody>
@*        @foreach (Student stu in Model[1])
      {*@         <tr>

            <td>Model[1].id </td>
                 <td>@Model[1].name</td>
                  <td>@Model[1].address </td>
                  <td> <img src="/img/Model[1].img"  width="100" height="100"> </td>
                  <td><a href="/student/details/Model[1].id">go to </a> </td>
              </tr>
               
      @*               
      }
*@
 
    </tbody>
</table>
