<h3>Students Data</h3>
@model  List<Trainee>;

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">address</th>
            <th scope="col">details</th>
        </tr>
    </thead>
    <tbody>
      @foreach (Trainee stu in Model)
      {       <tr>

            <td>@stu.Id </td>
                 <td>@stu.name</td>
                  <td>@stu.address </td>
                  <td><a href="/student/details/@stu.Id">go to </a> </td>
              </tr>
               
                  
      }

 
    </tbody>
</table>
