@model Course

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Course details</h5>

        <p class="card-text"> Name: @Model.Name</p>
        <p class="card-text"> Degree: @Model.degree</p>
        <p class="card-text"> Min Dgree:@Model.minDegree</p>
        <p class="card-text"> Department :@Model.department.Name</p>


    </div>
