  

@model lab1.Models.Course 
<form asp-action="Save" method="post" asp-controller="Course" asp-route-Id="@Model.Id">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <button onclick="fun2()" >ddd</button>
                    <input hidden asp-for="Id" class="form-control" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="degree" class="control-label"></label>
                        <input asp-for="degree" class="form-control" />
                        <span asp-validation-for="degree" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="minDegree" class="control-label"></label>
                        <input asp-for="minDegree" class="form-control" />
                        <span asp-validation-for="minDegree" class="text-danger" onblur="fun1()"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary w-100 rounded-1 " />
                    </div>
                </form>

              
                 <script src="~/lib/jquery/dist/jquery.js" ></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" ></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script> 
    
        function fun2() {
    console.log("test");
}

    </script>