@model InstructorNewDataViewModel
@{
    ViewData["Title"] = "New";
}

<h1> ADD NEW Ins </h1>

<div class="row">

    <div class="col-9" >
        <form method="get" action="/Instructor/save/@Model.instructor.Id">
            <div class="form-group">
                <label for="ins_name">Name</label>
                <input type="text" class="form-control" id="ins_name" placeholder="Enter name" name="Name" value=@Model.instructor.Name>
            </div>
            <div class="form-group">
                <label for="ins_address">Name</label>
                <input type="text" class="form-control" id="ins_address" placeholder="Enter Address" name="address" value=@Model.instructor.address>
            </div>
            <div>
                <label for="dept_id">Department</label>
                <select id="dept_id" name="dept_id" class="form-control" onchange="f()">
                    @foreach (var m in @Model.departments)
                    {
                        if (@Model.instructor.dept_id == m.Id)
                        {
                            <option selected value=@m.Id>@m.Name</option>
                        }
                        else

                        {
                            <option value=@m.Id>@m.Name</option>
                        }

                    }
                </select>
            </div>

            <div>
                <label for="crs_id">Course</label>
                <select id="crs_id" name="crs_id" class="form-control" onchange="courseSelected()">              
                </select>
            </div>
            <br />
            <br />
       
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>



    </div>

        <div class="col-3" id="courseCard">
        
        </div>
    </div>




<script>

    function f(){
         console.log("test");
         var deptId = document.getElementById("dept_id").value;
         $.ajax({url: "/Instructor/GetCourseOfDepartment/"+ deptId, success: function(result){

               //var element = document.createElement("option");
               //element.value = obj["id"];
                 document.getElementById("crs_id").innerHTML="";
               for( let obj of result)
               {
                console.log(obj)
               document.getElementById("crs_id").innerHTML+=`<option value=${obj.id}>${obj.name}</option>`
               }


         console.log("test succ");

       }});
     }

     function courseSelected(){
         var crsId = document.getElementById("crs_id").value;
         console.log(crsId);
         $.ajax({url:"/Course/GetCoursDetailsPV/"+crsId,success:function(r){
             document.getElementById("courseCard").innerHTML=r;
         }})


     }
</script>


